#img-id{
	height: 80px;
	width: 65px;
}
-webkit-печати цвета-Регулировка:точное;

@import url(http://fonts.googleapis.com/css?family=Bree+Serif);
  body, h1, h2, h3, h4, h5, h6{
    font-family: 'Bree Serif', serif;
  }
  
  